*{
    margin: 0;
    padding: 0;
}

header{
    background-color: transparent;
    color: #E2D2D2;
    height: 80px;
    width: 100%;
}

header a{
    color: #a83457;
    text-decoration: none;
    font-size: 17px;
}

header a:hover{
    color: #ba0c2f80;
}

header li{
    display: inline;
    margin: 2vw;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

h1{
    position: absolute;
    left: 120px;
    top: 0;
    line-height: 80px;
}

footer{
    background-color: black;
    color: gray;
    text-align: center;
}

.homepage{
    background-color: transparent;
    height: 100vh;
    width: 100%;
    display: flex;
}

.homepage img{
    width: 50%;
    background-color: transparent;
}

.char{
    display: flex;
    align-items: center;
    justify-content: center;
}

.char img{
    height: 100%;
    width: auto;
}

.char_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(image/textbackground.jpg);
    background-size: 77% 95%;
    background-repeat: no-repeat;
    background-position: center;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6em;
    width: 60%;
    margin-bottom: 5vw;
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.6em;
    width: 60%;    
}

.about h3, .story h3{
    margin-bottom:10px;
}

body{
    background-image: url(image/wallpaper.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
}